/* Base Styles */
* {
    border: none;
    border-radius: 0px;
    /* font-family: "JetBrainsMono Nerd Font"; */
    font-family: "CascadiaCode Mono Nerd Font Reg";
    font-weight: bold;
    font-size: 10px;
    min-height: 10px;
}

@import "theme.css";

window#waybar {
    background: @crust;
}

tooltip {
    background: @mantle;
    color: @text;
    border-radius: 8px;
    border-width: 1px;
}

/* Workspace Button Styling */
#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 4px 6px;
    margin: 4px;
    background-color: @base;
    border-radius: 8px;
    color: @text;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Default (non-active) workspace button styling */
#workspaces button:not(.active) {
    background-color: @surface0;
    color: @text;
}

/* Active workspace button styling */
#workspaces button.active {
    background-color: @peach;
    color: @crust;
    padding: 4px 12px;
    margin: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect on workspace buttons */
#workspaces button:hover {
    background-color: @pink;
    color: @crust;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* Taskbar Button Styling */
#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin: 3px 0;
    /* Unified margin */
    padding: 3px;
    /* Unified padding */
    color: @text;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @subtext0;
    color: @crust;
    margin: 3px;
    /* Unified margin */
    padding: 4px 12px;
    /* Unified padding */
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover {
    background: @pink;
    color: @crust;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

/* Tray Menu Styling */
#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 10px;
}

/* Component Styling */
#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @text;
    background: @base;
    opacity: 1;
    margin: 4px 0;
    padding: 4px;
}

#custom-power {
    color: @crust;
    background: @peach;
    font-size: 14px;
    border-radius: 15px;
    margin: 4px 0px 4px 4px;
    padding: 4px 14px 4px 8px;
}

#clock {
    color: @peach;
    background: @base;
    font-size: 14px;
    opacity: 1;
    margin: 4px 0;
    padding: 4px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

/* End Sections with Rounded Corners */
#custom-r_end {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 4px;
    padding-right: 0px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 4px;
    padding-left: 0px;
}
